.sidebar-mainContainer{
    height: 100%;
}

.inner-container{
    width: 296px;
    height: 100%;
    transition: width 200ms ease;
}
.collase-inner-container{
    width: 88px;
    height: 100%;
    transition: width 200ms ease;
}

.sidebar-container{
    padding: 14px 12px;
    height: 97%;
}

.collase-sidebar-container{
    padding: 14px 12px;
    height: 97%;
    width: 72%;
}



.main-iconContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-iconn{
    

}

.icon-title{
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    color: #45464E;
}

.menu-itemsContainer{
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 16px;
    height: calc(100vh - 24%);
    overflow-y: auto;
}


.allItemList{
    margin-bottom: 10px;
}

.accountUpdate{
    border-radius: 16px;
    background-color: #FFCC9133;
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 14px;
    margin-top: 14px;
    cursor: pointer;
}

.accountUpdateUpper{
    display: flex;
    /* justify-content: start; */
    align-items: center;
    gap: 15px;
}

.AccountUpdateTitle{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
   
}

.accountUpdateLower{
    display: flex;
    justify-content: start;
    align-items: center;
}

.rightArrow{
    margin-left: 8px;
    transform: rotate(270deg)
}

.logout-container{
    cursor: pointer;
    padding: 11px;
    padding-left: 18px;
    display: flex;
    justify-content: start;
    margin-top: 23px;
    gap: 8px;
    align-items: center;
}

.logout-text{
font-family: Inter;
font-size: 14px;
font-weight: 400;
text-align: left;
color: #CC5F5F;
}