.App {
  text-align: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}


.active-mainBtn{
  color: white !important;
  background-color: var(--Primary-color) !important;
}

.removeLinkStyle{
  text-decoration: none;
  text-decoration-color: none;
}
